# registry=https://registry.npmjs.org/
# ELECTRON_MIRROR=https://github.com/electron/electron/releases

registry=https://registry.npmmirror.com/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/